language: python
sudo: false
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
install:
  - pip install coveralls pandas
script:
  - coverage run --source=pubchempy setup.py test
after_success:
  - coveralls
